[Unit]
Description=Aplicar a identidade básica do Lithos
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/hostname Lithos
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

